<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Loading...</title>
    <link rel="icon" type="image/x-icon" href="assets/img/icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/loading.css" />
    
  </head>
  <body>
    <div class="progress-container">
        <div class="progress"></div>
        <span> <br>Processing data...</span>
    </div>
    
    <script>
        const progressbar = document.querySelector(".progress");

        const changeProgress = (progress) => {
        progressbar.style.width = `${progress}%`;
        };

        function relocateViz() {
            window.location.replace("./visualizations.html");
            
        }

        /* change progress after 1 second (only for showcase) */
        setTimeout(() => changeProgress(22), 500);
        setTimeout(() => changeProgress(45), 2000);
        setTimeout(() => changeProgress(75), 3200);
        setTimeout(() => changeProgress(95), 3600);
        setTimeout(() => changeProgress(100), 4800);
        setTimeout(() => relocateViz(), 5000);

        
        //window.location.href = "./visualizations.html";
        

    </script>
  </body>
</html>
